@import "antd/lib/style/themes/default.less";
@import "antd/dist/antd.less";
@import "./themeVars.less";

body {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

button:hover {
  cursor: pointer;
}
